/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
} */

@import "github-header-icon.css";
@import "admonitions.css";
@import "boxes.css";

:root {
  --ifm-color-primary: #6275d7;
  --ifm-color-primary-dark: #495fd1;
  --ifm-color-primary-darker: #3d54cd;
  --ifm-color-primary-darkest: #2c42af;
  --ifm-color-primary-light: #7b8bdd;
  --ifm-color-primary-lighter: #8796e1;
  --ifm-color-primary-lightest: #adb7ea;
  --ifm-footer-background-color: rgb(172, 20, 19);
  --ifm-footer-link-color: rgb(255, 255, 255);
  --ifm-footer-title-color: rgb(248, 248, 248);
  --ifm-footer-color: rgb(255, 255, 255);
  --ifm-code-font-size: 85%;
  --ifm-code-background: #F1F2F2;
  --ifm-color-info-dark: #495fd1;
  --ifm-color-info-darker: #3d54cd;
  --ifm-color-info-darkest: #2c42af;

  /*--ifm-*/
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Menu drop-down (left) */
/* .menu__list-item--collapsed .menu__link--sublist:after {
  transform: rotate(
90deg
);
}
.menu__link--sublist:after {
  background: none;
  font-size: 1.25rem;
  content: "+";
  height: inherit;
  width: inherit;
  transform: rotate(
45deg
);
  -webkit-filter: none;
  filter: none;
} */

/* Codeblock code-line highlight */
.docusaurus-highlight-code-line {
  background-color: #4e6e8e;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.alert a {
  color: #3d54cd;
  text-decoration: none;
}

/* .table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  color: #0047ff;
  text-decoration: none;
} */

/* Blocks */
/* alert--info {
  --ifm-alert-background-color: var( --ifm-color-primary-dark );
  --ifm-alert-background-color-highlight: rgba(236, 84, 236, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-primary-darkest);
} */